.login__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;

  transition: font-size 1s ease, line-height 1s ease;
}

@media (max-width: 425px) {
  .login__title {
    font-size: 20px;
    line-height: 24px;
  }
}
