.user-email {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

@media (min-width: 551px) {
  .user-email {
    display: block;
  }
}
